extends layout
block stylesheets
  link(href="stylesheets/wander.css", rel="stylesheet")
  
block scriptB
  script(src="javascripts/myHex.js")
  script(src="javascripts/drawLib.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.js")
  script(src="javascripts/wander/wanderApp.js")

block contentB
  // Begin page content
  .container(ng-app="wanderApp", ng-controller="AppCtrl")
    .jumbotron
      .row
        nav.navbar
          .container
            .navbar-header
              button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href="#") WANDER
            #navbar.collapse.navbar-collapse
              ul.nav.navbar-nav
                li(class=homeActive)
                  a(href="") Home
      .row
        #drawArea.col-md-6
        #sidebar.col-md-6
          .well(infobx)
