<accordion close-others="oneAtATime">
	<accordion-group>
		<accordion-heading>
			<a href>Maps</a>
        </accordion-heading>
		<div>
			<button type="button" class="btn btn-success" ng-click="addNewMap()">+ADD</button>
			<div ng-repeat="map in map.list">
				<a href ng-click="selectMap($index)">{{map.name}}</a>
			</div>
		</div>
	</accordion-group>
	<accordion-group>
		<accordion-heading>
			<a href>Characters</a>
        </accordion-heading>
		<div>
			<button type="button" class="btn btn-success" ng-click="addNewChar()">+ADD</button>
			<div ng-repeat="char in chars.list">
				<a href ng-click="selectChar(char._id)">{{char._id}}</a></li>
			</div>
		</div>
	</accordion-group>
</accordion >