<div>
	<button class="btn btn-warning" ng-click="map.resetfocusValues()">Reset</button>
</div>
<accordion close-others="oneAtATime">
	<accordion-group>
		<accordion-heading>
			<a href>Info</a><label>{{focus._id}}</label>
        </accordion-heading>
		<div class="row">
				<label class="col-md-6">r: {{focus.r}}</label>
				<label class="col-md-6">q: {{focus.q}}</label>
		</div>
		<div>
			<label>Name</label>
			<input type="text" name="name" ng-model="focus.name">
		</div>
		<div>
			<label>Altitude</label>
			<input type="number" step="0.1" name="height" ng-model="focus.altitude">
		</div>
		<div>
			<label>Moist</label>
			<input type="number" name="moist" ng-model="focus.moist">
		</div>
	</accordion-group>
	<accordion-group>
		<accordion-heading>
			<a href>Raw</a>
        </accordion-heading>
		<p >{{focus}}</p>
	</accordion-group>
</accordion >