
<div class="row">
	<div class="col-md-3 row">
		<div class="col-sm-4"><button type="button" class="btn btn-primary" ng-click="">Save</button></div>
		<div class="col-sm-4"><button type="button" class="btn btn-warning" ng-click="">Reset</button></div>
		<div class="col-sm-4"><button type="button" class="btn btn-danger" ng-click="remMap()">Remove</button></div>
	</div>
	<div class="col-md-9" class="row">
		<div class="row col-md-6"><label class="col-md-3">NAME</label><input class="col-md-9" ng-model="data.name"/></div>
		<div class="row col-md-3"><label class="col-md-3">Width</label><a class="col-md-9" ng-model="data.mwidth"/></div>
		<div class="row col-md-3"><label class="col-md-3">Height</label><a class="col-md-9" ng-model="data.mheight"/></div>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<div  class="drawarea">
			<div  drawarea-canvas view="view" focus="focus" toggledLayers="toggledLayers"></div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="well">
			<label >Layers</label>
			<div class="row" ng-repeat="layer in data.layers" >
				<div class="checkbox col-sm-2"><label><input type="checkbox" ng-checked="isLayerToggled($index)" value="" ng-click="toggleLayer($index)"></label></div>
				<div class="radio col-sm-10"><label><input type="radio" name="optradio" ng-click="selectLayer($index)">{{layer.name}}</label></div>
			</div>
		</div>
		<div class="well">
			<label >Brush</label>
		
		</div>
		<infobox focus="focus" ></infobox>
	</div>
</div>