<div class="modal-header">
	<h3 class="modal-title">Generate a new Map</h3>
</div>
<div class="modal-body">
	<div class="row"><label class="col-md-3">Seed</label><input class="col-md-3" type="number" step="1" ng-model="seed"/></div>
	<div class="row"><label class="col-md-3">Patch Size</label><input class="col-md-3" type="number" step="5" ng-model="patchSize"/></div>
	<div class="row"><label class="col-md-3">Noise Impact</label><input class="col-md-3" type="number" step="0.1" ng-model="noise"/></div>
	<div class="row"><label class="col-md-3">landSea</label><input class="col-md-3" type="number" step="0.1" ng-model="landSea"/></div>
	<div class="row"><label class="col-md-3">degree</label><input class="col-md-3" type="number" step="1" ng-model="degree"/></div>
	<div class="row"><label class="col-md-3">Width</label><input class="col-md-3" type="number" step="50" ng-model="mwidth"/></div>
	<div class="row"><label class="col-md-3">Height</label><input class="col-md-3" type="number" step="50" ng-model="mheight"/></div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>