<div class="modal-header">
	<h3 class="modal-title">Generate a new Map</h3>
</div>
<div class="modal-body">
	<div class="row"><label class="col-md-3">Seed</label><input class="col-md-3" type="number" ng-model="seed"/></div>
	<div class="row"><label class="col-md-3">Size</label><input class="col-md-3" type="number" ng-model="size"/></div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>